<!DOCTYPE HTML>
<html>
<head>
	<title>PickLedger</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<h1>Welcome to PickLedger</h1>

<a href="login">Login</a>
<br>
<a href="register">Register</a>

</body>
</html>
