<head>
<title>Login</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<h1>Login</h1>
<form>
<input type="text" placeholder="Username">
<br>
<input type="password" placeholder="Password">
<br>
<button>Login</button>
</form>

<a href="/">Back Home</a>

</body>
</html>
